@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


#tester{
    background-color: #101935;
}
.container{
    color: black;
}
.signup{
   color: #101935;
}
.login{
    color: #101935;
}
.font{
    font-family: 'Space Mono', monospace;
}
.form-section{
    background-color: #101935;
    height: 100vh;
    width: 100vw;
}


/* .font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */