{% extends "base.html" %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% block content %}
<div class="row">
    <div class="col-md-3">
      {% for pitch in pitch %}
      <h1 class="">{{ pitch.title }}</h1>
      <p>Author: {{ pitch.author.current_user }}</p>
      <p>📌 {{ pitch.body }}</p>
      <p>Posted on {{pitch.date_posted}}</p>
      {% endfor %}
      <!-- empty -->
    </div>
    <div class="col-md-6 mt-2 form">
      <h4 class="text-center">Welcome to Pitchly</h4>
    </div>
</div>
{% endblock %}