{% extends "base.html" %}
{%block content%}
    {% for pitch in pitch %}
    <h1>{{ pitch.title }}</h1>
    <p>Author: {{ pitch.author }}</p>
    <p>📌 {{ pitch.message }}</p>
    <p> Posted on {{pitch.date}}</p>
    {% endfor %}


    <!-- form for creating a new pitch -->
    <div class="row back">
        <div class="col-md-3">
            <!-- empty -->
        </div>
        <div class="col-md-6 mt-2 form">
            <h4 class="text-center">Create Pitch</h4>
            {{ wtf.quick_form(form) }}
        </div>
        <div class="col-md-2">
            <!-- empty -->
        </div>
    </div>
{% endblock %}

